{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<section class="container">
    <h1>Changer le mot de passe</h1>
    {{ form_start(pswdForm) }}
        {{ form_row(pswdForm.password) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(pswdForm) }}
</section>
{% endblock %}
