{% extends 'admin/user.html.twig' %}

{% block avatar %}
{#
    {{ form(formUser) }}
#}
    {% for key,avatar in avatars %}
    <a href="{{ path("admin_avatar_select", {avatar: key}) }}">
        <img src="http://oc6.test/assets/avatars/{{ avatar }}" width="80px"/>
    </a> 
    {% endfor %}
{% endblock %}
