{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}


<div class="example-wrapper">

    <article class="card border-light mb-3">
        <div class="card-header">
            <h1>Admin</h1>
        </div>
        <div class="card-boby">
        <div class="content">
            <ul class="navbar-nav me-auto">
            {% if not app.user%}
            <div class="metadata">Vous devez être connecté pour accéder à cette page.</div>
            <a class="btn btn-secondary" href="{{ path("app_login") }}">Connexion</a>
            {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_EDIT') %}
            <a class="btn btn-secondary" href="{{ path("new_trick") }}">Nouveau Trick</a>
            <a class="btn btn-secondary" href="{{ path("admin_tricks") }}">Voir les Tricks</a>
            <a class="btn btn-secondary" href="{{ path("admin_comments") }}">Voir les commentaires</a>
            {% endif %}
            </ul>
        </div>
    </article>

</div>
{% endblock %}
