{% extends 'admin/user.html.twig' %}

{% block resetPswd %}
    {% for key,avatar in avatars %}
    <a href="{{ path("admin_avatar_select", {avatar: key}) }}">
        <img src="{{ asset(avatar) }}" width="80px"/>
    </a> 
    {% endfor %}
{% endblock %}
